@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #cc3709;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffc002;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sandbox {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.puzzle {
  border-width: 2px;
}